# Visual Studio files
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
x64/
Debug/
Release/
ipch/

# Others
*.log
*.tlog
*.idb
*.pdb
*.cache
*.ilk
*.aps
*.ncb
*.opensdf
*.sdf
*.opendb
*.VC.db
*.VC.VC.opendb
